@import "../../index";


.root {
    flex-grow: 1;
  }
  .menuButton {
   margin-right: 3px;
   
  }
  .title {
    flex-grow: 1;
  }
  

  .flexContainer {
    background-color: #aed581;//$base-background;   
    display: flex;
    min-width: 200px;
    padding-right: 10px;    
    padding-left: 10px;
    border-radius: 5px;
    justify-content: space-between;
  
  }