// Utilities
@import "../../index";

.sign-in-container {   //div     ||        |
  position: absolute;
    align-items: center;
    display: flex;
    justify-content: center;
    height: 100%;  
    width: 100%;
    background-color: $base-background;   
    
    /*  primary   */

    


      

  }
  .form {
    width: 300px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;    /*  forms   */

   
  

  }



  