// Utilities
@import "../../index";



.sign-in-container {
        position: absolute;
      align-items: center;
      display: flex;
      justify-content: center;
      height: 100%;  
      width: 100%;
      background-color: $base-background;   
    
  
  
  
  
    }

    .card {
        height: auto;
   

    .form {
      width: 300px;
      height: auto;
      display: flex;
      flex-direction: column;
      justify-content: space-between;    /*  forms   */
  
      .form-control {
        /* form-control class CSS Rules */
        /* input-sm class CSS Rules */
        width: 150px;
        margin-top: 4px;
        margin-bottom: 4px;

      } 

      .percentage {
          display: flex;
          justify-content: center;
          align-items: center;
      }
  
    }
    }
/*


        */